[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git

[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone
